* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: "Signika", sans-serif;
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
}

:root {
    --modal-duration: 1s;
    --modal-color: #d6224c;
}

.body-container {
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 81.89px;
    overflow: hidden;
    position: relative;
}

.container {
    width: 95%;
    max-width: 1190px;
    margin: 0 auto;

}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

