// All the color variables used in the project
$primary-color: #d6224c;
$secondary-color: #fff;
$tertiary-color: #5df4ff;
$background-color-footer: #eaeaea;
$dark-color-footer: #000;
$main-color-navbar: #555;
$bottom-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);